// Mixins Here

.displayFlex(@direction: auto, @justify: auto, @align: auto) {
    display: flex;
    flex-direction: @direction;
    justify-content: @justify;
    align-content: @align;
    align-items: @align;
}

.imgScaling {
    height: auto;
    width: 100%;
}