// Navigation code here
.container {
    .excess-nav {
        .displayFlex(row, center, center);
        background-color: @nav-bg;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;   
        nav {
            max-width: 800px;
            margin-top: 12px;
            .displayFlex(column, center, center);
            .nav-items {
                .displayFlex(row, space-between, auto);
                a {
                    font-family: @nav-font;
                    color: @main-font-color;
                    font-size: 1.7rem;
                    padding: 18px 14px 13px;
                    text-decoration: none;
                }
            }
        }
    }
    .hidden-nav{
        visibility: hidden;
        nav {
            max-width: 800px;
            margin-top: 12px;
            .displayFlex(column, center, center);
            .nav-items {
                .displayFlex(row, space-between, auto);
                a {
                    font-family: @nav-font;
                    color: @main-font-color;
                    font-size: 1.7rem;
                    padding: 18px 14px 13px;
                    text-decoration: none;
                }
            }
        }
    }
}